body {
	background: #5d802c;
	color: #878785;
	font-family: Verdana;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
a {
	outline: none;
}
img {
	border: 0;
}

#header {
	background: #ffffff;
	width: 100%;
}
#header div {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}
#header div img {
	float: left;
	margin-top: 15px;
}
#header div ul {
	float: right;
	list-style: none;
	margin: 40px 0 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li {
	float: left;
	padding: 0 5px;
}

#header div ul li a {
	color: #495531;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 90px;
}
#header div ul li a:hover {
	color: #82ae3f;
}
#content {
	background: #7cc116 url(../images/bg-content.gif) repeat-x top left;
	color: #000000;
}
#content div {
	background: url(../images/bg-homepage.jpg) no-repeat top center;
	height: 935px;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}
#content div div {
	background: none;
	float: right;
	margin: 500px 0 0;
	min-height: 0;
	padding-right: 10px;
	width: 480px;
}
#content div div h1, #content div div h2 {
	color: #00178c;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

#content div div p {
	line-height: 23px;
	padding-top: 5px;
	text-align: justify;
}
#content div div p a, #footer div ul li p a {
	color: #fdfd00;
}

footer{
	color: white;
	font-family: Verdana;
    clear:both;
    width: 1000px;
    height: 30px;
    text-align: center;
    background-image: url(../imagens/bg-menu.png);
    padding-top:10px;
    padding-bottom: 10px
}

footer details p{
color:#ffffff;
font-size: 10px;
font-family: Verdana
}
