*{
margin:0px;
padding:0px;}
body{
background:#fff;
}
table{
border:#000 1px solid;
}
th,td,tr{
border:#000 1px solid;
text-align:center;
}
table{
position:absolute;
margin-left:-200px;
}

th{
width:50px;
height:25px;
background:#007FFF;
}

#telinha{
position:absolute;
border:#000 1px solid;
width:900px;
height:250px;
top:31%;
left:25%;
margin-left:-125px;
margin-top:-125px;	
}

#começo{
top:0%;
width:900px;
height:100px;
left:25%;
position:absolute;
border:#000 1px solid;
margin-left:-125px;
}

h4{
font-size:55px;
text-align:center;
}