*{
margin:0px auto ;
padding:0px;}

body{
background:#BDEAF6;
font-family:Tahoma;

}
header{
width:auto;
margin-top:50px;
}

header img{
margin:0px auto;
display:block;
}


#menu{
height:50px;
width:980px;
margin:50px auto;

}
#menu ul{
list-style-type:none;
margin-left:23	px;
padding:0px;
float:left;
position:relative;
}
#menu ul li{
display:inline;
position:relative;
}
#menu ul li a{ 
background:#98A9F8;
display:inline-block;	
text-decoration:none;
color:#fff;
font-size:25px;
padding:11px 43px;
font-family:Arial;
cursor:pointer;
transition:all 1s;
border-radius:5px;
border:#422DD0 1px solid;
}
#menu ul li a:hover{
text-indent:5px;
color:#000;
}

.selecionar{
background:#ededed!important;
color:#000!important;
}
#conteudo { 
	width:980px;
	height:1300px;
	color:#000;
}
#conteudo p{
	margin-left:25px;
	margin-top:25px;
	font-size:16px;
	text-align:center;
}
#texto{
	width:980px;
	height:1338px;
	background:#72A6EE;
	color:#000;
	border:#000 1px solid;
	overflow:visible;
	border:#000 2px solid;
}
#texto h1{
text-align:center;
}
#texto p {
font-weight:bold;
font-size:18px;
margin-left:125px;
margin-right:125px;
}
.imagem_produto {
width:400px;
height:350px;
margin-left:300px;
margin-top:15px;
margin-bottom:0px;
border:#000 solid 2px;
}

#rodape {
width:983px;
height:75px;
display:block;
}

#rodape footer{
background:#84848D;
padding-top:20px;
padding-bottom:20px;
border:#000 2px solid;
}

#rodape footer p{
color:#fff;
text-align:center;
}