*{
margin:0px auto ;
padding:0px;}

body{
background:#BDEAF6;
font-family:Tahoma

}
header{
width:1500px;
margin-top:50px;
}

header img{
margin:0px auto;
display:block;
}

#menu{
height:50px;
width:980px;
margin:50px auto;

}
#menu ul{
list-style-type:none;
padding:0px;
float:left;
position:relative;
}
#menu ul li{
display:inline;
position:relative;
}
/*cor dos items do menu era 98A9F8 */
#menu ul li a{ 
background:#98A9F8;
display:inline-block;	
text-decoration:none;
color:#fff;
font-size:25px;
padding:11px 43px;
font-family:Arial;
cursor:pointer;
transition:all 1s;
border-radius:5px;
border:#422DD0 1px solid;
}
#menu ul li a:hover{
text-indent:5px;
color:#000;
}

.selecionar{
background:#ededed!important;
color:#000!important;
}

p{
text-align:justify;
font-size:20px;
}
#texto{
	width:980px;
	height:375px; 
	margin:auto;
	background:#72A6EE;
	color:#000;
	border:#000 1px solid;
}
#texto h1{
text-align:center;
}
img.imagem_produto{
width:400px;
height:350px;
margin-left:300px;
margin-top:15px;
margin-bottom:0px;
border:#000 solid 2px;
}

#rodape {
width:983px;
height:75px;
display:block;
}

#rodape footer{
background:#84848D;
padding-top:20px;
padding-bottom:20px;
}

#rodape footer p{
color:#fff;
text-align:center;
}
#caixinha{
width:425px;
height:350px;
border:2px #000 solid;
margin-top:50px;
background:#EEA772;
}
label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
font-weight:bold;
}

input
{
margin-left:25px;
}
botao{
margin-left:50px;
}