*{
margin:0px auto ;
padding:0px;}

body{
background:#DB7093;
font-family:Tahoma;}

header{
width:1500px;
margin-top:50px;
}

header img{
margin:0px auto;
display:block;

}


#menu{
height:50px;
width:1100 px;
margin:50px auto;

}
#menu ul{
list-style-type:none;
margin-left:23	px;
padding:0px;
float:left;
position:relative;
}
#menu ul li{
display:inline;
position:relative;
margin-right: 10px;
}

#menu ul li a{ 
background:#98A9F8;
display:inline-block;	
text-decoration:none;
color:#fff;
font-size:25px;
padding:11px 43px;
font-family:Arial;
cursor:pointer;
transition:all 1s;
border-radius:5px;
border:#422DD0 1px solid;
}

#menu ul li a:hover{
text-indent:5px;
color:#000;
background:#ededed;
}

.selecionar{
background:#ededed!important;
color:#000!important;
}

#conteudo { 
	width:980px;
	height:1300px;
	color:#000;
}
#conteudo p{
	margin-left:25px;
	margin-top:25px;
	font-size:16px;
	text-align:center;
}
#texto{
	width:980px;
	height:auto; 
	margin-left:auto;
	background:#72A6EE;
	color:#000;
	border:#000 1px solid;
	padding-bottom: 25px;
}
#texto p{
	margin-left:90px;

}
img.imagem_produto{
width:400px;
height:250px;
margin-left:px;
margin-top:15px;
margin-bottom:0px;
}

#rodape {
width:983px;
height:75px;
display:block;
}

#rodape footer{
background:#84848D;
padding-top:20px;
padding-bottom:20px;
}

#rodape footer p{
color:#fff;
text-align:center;
}
#part1{
width:450px;
margin-left:30px;
float:left;
margin-top:30px;
color:#262D2F;
}

#part1 p{
font-size:15px;
font-weight:bold;
}

#part1 a:link{
text-decoration:none;
cursor:pointer;
}

#part1 a:visited{
text-decoration:none;
color:#262D2F;
cursor:pointer;
}
#part1 h1{
text-align:center;
}
#part1 img{
display:block;
}
#part2{
color:#262D2F;
width:400px;
height:auto;
margin-top:30px;
margin-right:30px;
float:rigth;
}
#part2 p{
font-size:15px;
font-weight:bold;
text-align:justify;
word-spacing:0px;
text-decoration:blink;
}

#part2 img{
display:block;
}
