*{
margin:0;
overflow: visible;
}

body{
margin:0 auto;
background:#EEDD82;
}
#principal{
margin-top:0px;
border:5px solid #FF00FF;
margin-left:0px;
}
#principal header{
top:301px;
height:300px;
}
#principal header nav img{
height:300px;
width:297px;
}
#menu header h1{
font-size:50px;
margin-left:400px;
}


}
#menu{
margin-top:0px;
float:left;
width:100%;
height:300px;
}
#menu  ul{
list-style-type:none;
background:#444;
margin:0;
}
#menu   ul li{
display:inline-block;
text-align:left;
padding: 0px;
}
#menu  ul li a{
display:inline-block;
color:#fff;
text-align:center;
padding:15px 125px ;
}

