*
{
	font-family:Century Gothic, Verdana, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS",sans-serif;
}

body 
{
	margin:0px;
	min-height:800px;
	min-width:800px;
	max-height:100%;
	max-width:100%;
	background: repeating-linear-gradient( 120deg, #DCF2FF, #C4E7D2 5px, #C4E7D2 5px, #FFFFFF 5px )
}

header
{
	margin-bottom:-5px;
}

#banner
 {
	min-width:100%;
	min-height:220px;
}

#logo
{
	float: left;
	position: absolute;
	top: 20px;
	left:34%;
	z-index: 1;
}

#logo img
{
	width:320px;
	height:270px;
}

	
#menu
{
	position: absolute;
	min-width:100%;
	max-width:3000px;
	height:64px;
    background: -webkit-linear-gradient(180deg, #3E3E3E, #B0E0CF,#3E3E3E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #3E3E3E, #B0E0CF,#3E3E3E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #3E3E3E, #B0E0CF,#3E3E3E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #3E3E3E, #B0E0CF,#3E3E3E); /* Standard syntax */
	overflow:hidden;
	box-shadow: #000 2px 2px 1px;
}

#menuEsquerda ul li
{
	display:inline-block;
	float: left;
	position:relative;
	margin-right: 6%;
	margin-top:-1px;
	height:30px;
}

#menuDireita ul li
{
	display:inline-block;
	float: right;
	position:relative;
	margin-right: 6%;
	margin-top:-1px;
	height:30px;
}

.menu ul li a
{
	text-decoration:none;
	font-size:20px;
	color:#000000;
	font-weight: bold;
}

.menu ul li a:hover
{
	color:#FFFFFF;
	font-size:20px;
}

.menu ul li a:active
{
	color:#E49C00;
	font-size:20px;
}


#content
{	clear:both;
border:solid 2px #C4C1C1;
	position:relative;
	margin-top:80px;
	margin-left: 100px;
	margin-right:100px;
	margin-bottom:10px;
	min-height:400px;
	max-height:auto;
box-shadow: 0px 0px 1em #666;
-webkit-box-shadow: 0px 0px 1em #666;
-moz-box-shadow: 0px 0px 1em #666;
  background: -webkit-linear-gradient(#FFFFFF, #CEFBFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFFFFF, #CEFBFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFFFFF, #CEFBFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFFFFF, #CEFBFF); /* Standard syntax */
}

#content h1
{
	text-align:center;
	font-weight:bold;
	font-size:35px;
}

#content h1:hover
{
		color:#5EBDE5;
}

#content p
{
	margin-left:25px;
	margin-right:25px;
	text-align:justify;
	font-size:20px;
}

footer
{
	border:#909090 2px solid;
	z-index:1;
	text-align:center;
	margin-left:15px;
	margin-right:15px;
box-shadow: -1px -1px 2px #325d6f;
background-color:#BEE0F3;
-webkit-box-shadow: -1px -1px 2px #325d6f;
-moz-box-shadow: -1px -1px 2px #325d6f;
}

#expandir summary::-webkit-details-marker {
  display: none
}
#expandir summary:after {
  content: "+"; 
  color: #000000;  
  font-size: 25px; 
  font-weight: bold; 
  margin: -5px 10px 0 0; 
  padding: 0; 
  text-align: center; 
  width: 15px;
}
#expandir details[open] summary:after {
  content: "-";
}

#expandir{
	margin-left:25px;
	  font-weight: bold;
}

#expandir summary:hover{
	margin-left:15px;
	  font-weight: bold;
	  	  color:#4763E7;
}

#expandir p{
	font-weight:100;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:#4769E7;
}

#content img{
	margin-left:35%;
	width:200px;
	height:200px
}

table{
	margin-top:60px;
	font-size:25px;
}

.musica{
	text-align:center;
}
