*{
margin:auto;
padding:0px;
}
body{
background-color:#999;
font-family:Arial, Helvetica, sans-serif;
}
.comecinho{
margin:auto;
width:980px;
height:200x;
}
.img1{
width:490px;
height:200px;
float:left;
}
.img2{
width:490px;
height:200px;
float:right;
}
.menu{
height:55px;
width:980px;
padding-top:10px;
float:left;
background-image:url (imagens/bg-menu.jpg);
}
.menu a{
text-decoration:none;
font-size:16px;
padding-left:15px;
color:#CCC;
padding:10px 55px;
}

