*{
 margin:0px;
 padding:0px;
}

body{
   text-align:center;
}

#principal{
    margin:0 auto;
    background-color: #ededed;
    width: 1000px;
    border:solid #ededed 1px;

}

#principal header{
    background-image: url(../imagens/bg-home.png);
    width: 100%;
    height: 150px;
}


#principal header h1{
color:#336699;
font-size: 40px;
height:95px;
font-family: tahoma, arial;
font-weight:bold;
padding-left: 20px;
padding-top: 20px
}

#principal header img{
float:right;
margin-left:10px;
margin-top:5px;
}

#principal header nav{
    width:100%;
    height: 50px;
    text-align:left
}

#principal header nav ol{
list-style-type: none;
width:100%;
text-align:center
}


#principal header nav ol li{
display:inline-block;
width:100px;
}


#principal header nav ol li a{
color:#ffffff;
font-family:tahoma;
font-size:15px;
font-weight:bold;
text-decoration:none
}

#principal header nav ol li a:hover{
color:#ededed;
text-decoration:underline
}

#principal section{
    width:100%;
    height: 700px;
}

#principal section nav{
    float:left;
    width:150px;
    text-align:left;
   
}


#principal section nav h1{
    background-image: url(../imagens/bg-menu.png);
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    width:100%;
    color:#ffffff;
    font-family: arial;
    text-align: center;

}

#principal section nav ol{
margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
}

#principal section nav ol li{
list-style-type: none;
}

#principal section nav ol li a{
text-decoration: none;
color: navy;
font-family: tahoma;
font-size: 13px;
}

#principal section nav ol li a:hover{
color: teal;
text-decoration: underline
}

#principal section nav #frm_senha{
    margin: 5px;
    padding: 0px;
    border: 0px;
    width: 120px
}

#principal section nav #frm_senha label{
color: #336699;
font-family: tahoma;
font-size: 14px;
font-weight:bold
}


#principal section nav #frm_senha #entrar{
  margin-top: 8px;
  width: 143px;
      height:25px
}

#principal section nav #cad{
padding-left:8px;

}

#principal section nav #cad a{
text-decoration: none;
color: navy;
font-family: tahoma;
font-size: 13px;
}

#principal section nav #cad a:hover{
color: teal;
text-decoration: underline
}

#principal section #load_pages{
    float:right;
    width:849px;
    height: 100%;
    background-color: #ffffff;
}


#principal section #load_pages iframe{
width: 100%;
height:100%;
border:0px
}

#principal footer{
    clear:both;
    width: 1000px;
    height: 30px;
    text-align: center;
    background-image: url(../imagens/bg-menu.png);
    padding-top:10px;
    padding-bottom: 10px
}

#principal footer details p{
color:#ffffff;
font-size: 10px;
font-family: arial
}

#produtos{
width:100%;
height:500px;
text-align:left
}

#produtos #promocao{
width:832px;
height:50%;
padding:8px;
background-color:#ffffff;

}

#produtos #novos{
height:50%;
margin:8px
}

#produtos #novos #coluna_esquerda{
float:left;
width:408px;
height:100%;
background-color:#ffffff;
}

#produtos #novos #coluna_direita{
float:right;
width:400px;
height:100%;
background-color:#ffffff;
}

img.imagem_produto{
width:180px;
float:left;
margin-right:10px;
margin-top:6px;
margin-bottom: 5px;
border:dotted #c0c0c0 1px
}

header h1,h2 {
font-family: tahoma;
margin-top: 8px;
margin-bottom:8px;

color:#000000;
width:100%;
text-align:left;
}

header h1{
color:#336699;
font-weight:bold
}

article p{
font-family:arial;
font-size: 13px;

}

article .pr{
font-family:arial;
font-size: 18px;
padding:10px;
text-align:left
}


footer p a{
color:#336699;
font-family:tahoma;
font-weight:bold;
text-decoration:none 
}

footer p a:hover{
text-decoration:none;
font-weight:normal;
}

#produtos .produto{
    margin:8px
}

#produtos .produto header h2{
    clear:both;
    color:#336699;
    font-weight:bold;
    margin-top:15px
}


label span{
    color:#ff0000;
}

#frm_contato{
    width:500px;
    margin:10px;
    padding:10px;
    padding-left:50px;
    border:dashed #c0c0c0 1px;
    margin-left: 100px;
    margin-top:40px
}

#pg_contato{
    text-align: left;
    margin:0px;
    font-family:tahoma;
}


#frm_contato p{
margin:10px;
}


#frm_contato p label, #frm_contato fieldset legend{
    color: #000000;
}

#frm_contato p label{
}

#frm_contato fieldset{
    width:150px;
    margin-left:10px;
}

#frm_contato .botao{
      margin-top: 8px;
  width: 143px;
      height:25px
}